[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylint = "*"

[packages]
django = "==3.0.14"
djangorestframework = "==3.11.2"
sentry-sdk = "==0.14.2"
gunicorn = "*"
django-debug-toolbar = "*"
psycopg2-binary = "*"

[requires]
python_version = "3.8"
